# Cline Rules

## ロール定義

あなたは熟練のPythonプログラマとしてコードを書いてください

## 期待する回答

- 実装コードは省略せず、完全な形で提供
- 日本語での詳細な説明

## 注意事項

- PEP8に従ったコードを書いてください
- ruffのフォーマッタでファイルの保存と同時に自動整形するので、フォーマットの修正は不要です
- GoogleスタイルのDocstringを書いてください
- テストコードを tests ディレクトリ以下に src ディレクトリと同じ構成で作成してください
- テストコードを作成したら pytest を実行してエラー無いことを確認してください。エラーが出たら修正してください
- Pull Request(PR)を要望されたら、gitコマンドで差分を確認したうえで、`gh pr` コマンドを使ってPRを作成してください。PRのdescriptionは .github/pull_request_template.md を読み取ってフォーマットを合わせてください
- git管理されているファイルは、git mv や git rm を使って移動削除してください
